.cityCard {
  width: 256px;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  font-family: "Montserrat";
}

.cardImage {
  width: 100%;
  height: 178px;
  position: relative;
}

.cityImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cityInfo {
  padding: 8px;
  height: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cityInfo h2 {
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cityInfo p {
  font-size: 1em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewMoreBtn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
  border: solid black 1px;
  font-family: "Montserrat";
}

.cityCard:hover {
  transform: scale(1.01);
}

.viewMoreBtn:hover {
  background-color: #d8d7d5;
  color: black;
}

@media screen and (max-width: 580px) {
  .cityCard {
    width: 296px;
  }
}
