.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 2px solid #d8d7d5;
  width: 500px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  font-family: "Montserrat";
}

.searchBar.focused {
  border-color: black;
  transform: scale(1.02);
}

.searchBar input {
  border: none;
  outline: none;
  flex-grow: 1;
  margin-left: 10px;
}
