.searchSection {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  padding: 16px;
  max-width: 100%;
  justify-items: center;
  align-items: center;
  margin-bottom: 24px;
}

.header {
  font-family: "Montserrat";
  font-weight: bolder;
  text-align: center;
}

.header h1 {
  margin-bottom: 0px;
  margin-top: 8px;
}
