.landingContainer {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landingImage {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.title{
  margin-top: 32px;
  margin-bottom: 0px;
  font-size: 64px;
}
